@model OrdenesDeCompra.Models.OrdenDeCompra

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear Orden</h2>

<form asp-action="Crear" method="post" id="createForm">
    <div class="form-group">
        <label>Número de Orden<span style="color: red;">*</span></label>
        <input type="text" class="form-control" asp-for="NumeroDeOrden" />
        <span class="text-danger" asp-validation-for="NumeroDeOrden"></span>
    </div>

    <div class="form-group">
        <label>Fecha<span style="color: red;">*</span></label>
        <input type="date" class="form-control" asp-for="Fecha" />
        <span class="text-danger" asp-validation-for="Fecha"></span>
    </div>

    <div class="form-group">
        <label>Proveedor<span style="color: red;">*</span></label>
        <input type="text" class="form-control" asp-for="Proveedor" />
        <span class="text-danger" asp-validation-for="Proveedor"></span>
    </div>

    <div class="form-group">
        <label>Monto Total<span style="color: red;">*</span></label>
        <input type="number" class="form-control" asp-for="MontoTotal" step="0.01" />
        <span class="text-danger" asp-validation-for="MontoTotal"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success"> <i class="bi bi-floppy-fill"></i> Guardar</button>
</form>

@section Scripts {
    <script src="~/js/Crear.js"></script>
}